# IMPORTS

In [1]:
import pandas as pd
pd.set_option("max_colwidth", None)

import pycaret
import numpy as np
import matplotlib.pyplot as plt
from pycaret.classification import * 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from functions.homebrew import *

# LOAD DATA

In [38]:
df = pd.read_csv('./data/df.csv').drop('Unnamed: 0', axis=1)

In [3]:
train = df[df['type'] == 'train'].drop('type',axis =1)
dev = df[df['type'] == 'dev'].drop('type',axis =1)
test = df[df['type'] == 'test'].drop('type',axis =1)

KeyError: "['Unnamed: 0, Unnamed: 0.1'] not found in axis"

In [55]:
df

,Unnamed: 0.1,num_prom,last_gift,months_since_donate,avg_gift,target,log_largest_gift,sqrt_largest_gift,inv_largest_gift,boxcox_largest_gift,sigmoid_largest_gift,log_avg_gift,sqrt_avg_gift,inv_avg_gift,boxcox_avg_gift,abs_avg_gift,sigmoid_avg_gift,target.1,type
0,0,74,5.0,36,5.628571,1,2.397895,3.162278,0.090909,1.657686,0.999955,1.891389,2.372461,0.150862,1.414143,5.628571,0.996419,1,train
1,1,44,12.0,31,10.000000,0,2.833213,4.000000,0.058824,1.841721,1.000000,2.397895,3.162278,0.090909,1.667257,10.000000,0.999955,0,train
2,2,63,20.0,34,13.714286,1,3.433987,5.477226,0.032258,2.056016,1.000000,2.688819,3.703280,0.067961,1.794926,13.714286,0.999999,1,dev
3,3,74,18.0,36,12.923077,0,2.944439,4.242641,0.052632,1.884660,1.000000,2.633548,3.594868,0.071823,1.771587,12.923077,0.999998,0,train
4,4,55,10.0,28,5.937500,1,2.397895,3.162278,0.090909,1.657686,0.999955,1.936941,2.436699,0.144144,1.438644,5.937500,0.997368,1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,20,15.0,34,9.500000,1,2.772589,3.872983,0.062500,1.817646,1.000000,2.351375,3.082207,0.095238,1.645703,9.500000,0.999925,1,dev
2996,2996,63,10.0,30,6.250000,1,2.397895,3.162278,0.090909,1.657686,0.999955,1.981001,2.500000,0.137931,1.462001,6.250000,0.998073,1,dev
2997,2997,62,15.0,31,10.333333,0,2.772589,3.872983,0.062500,1.817646,1.000000,2.427748,3.214550,0.088235,1.680918,10.333333,0.999967,0,train
2998,2998,53,6.0,30,5.037037,0,2.302585,3.000000,0.100000,1.613748,0.999877,1.797913,2.244334,0.165644,1.362718,5.037037,0.993549,0,train
2999,2999,15,15.0,37,15.000000,0,2.772589,3.872983,0.062500,1.817646,1.000000,2.772589,3.872983,0.062500,1.829510,15.000000,1.000000,0,train

In [60]:
df

,num_prom,last_gift,months_since_donate,avg_gift,target,log_largest_gift,sqrt_largest_gift,inv_largest_gift,boxcox_largest_gift,sigmoid_largest_gift,log_avg_gift,sqrt_avg_gift,inv_avg_gift,boxcox_avg_gift,abs_avg_gift,sigmoid_avg_gift,type
0,74,5.0,36,5.628571,1,2.397895,3.162278,0.090909,1.657686,0.999955,1.891389,2.372461,0.150862,1.414143,5.628571,0.996419,train
1,44,12.0,31,10.000000,0,2.833213,4.000000,0.058824,1.841721,1.000000,2.397895,3.162278,0.090909,1.667257,10.000000,0.999955,train
2,63,20.0,34,13.714286,1,3.433987,5.477226,0.032258,2.056016,1.000000,2.688819,3.703280,0.067961,1.794926,13.714286,0.999999,dev
3,74,18.0,36,12.923077,0,2.944439,4.242641,0.052632,1.884660,1.000000,2.633548,3.594868,0.071823,1.771587,12.923077,0.999998,train
4,55,10.0,28,5.937500,1,2.397895,3.162278,0.090909,1.657686,0.999955,1.936941,2.436699,0.144144,1.438644,5.937500,0.997368,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,20,15.0,34,9.500000,1,2.772589,3.872983,0.062500,1.817646,1.000000,2.351375,3.082207,0.095238,1.645703,9.500000,0.999925,dev
2996,63,10.0,30,6.250000,1,2.397895,3.162278,0.090909,1.657686,0.999955,1.981001,2.500000,0.137931,1.462001,6.250000,0.998073,dev
2997,62,15.0,31,10.333333,0,2.772589,3.872983,0.062500,1.817646,1.000000,2.427748,3.214550,0.088235,1.680918,10.333333,0.999967,train
2998,53,6.0,30,5.037037,0,2.302585,3.000000,0.100000,1.613748,0.999877,1.797913,2.244334,0.165644,1.362718,5.037037,0.993549,train
2999,15,15.0,37,15.000000,0,2.772589,3.872983,0.062500,1.817646,1.000000,2.772589,3.872983,0.062500,1.829510,15.000000,1.000000,train

In [69]:
df = pd.read_csv('./data/tiny.csv').drop(['Unnamed: 0'], axis=1)
df.columns
test = df[df['type'] == 'test']
df = df[df['type'] != 'test']
# df = pd.get_dummies(df, columns=['type'])
df = df.drop(['Unnamed: 0.1', 'target.1','sigmoid_largest_gift', 'type','abs_avg_gift','type'], axis = 1)
test = test.drop(['Unnamed: 0.1', 'target.1','sigmoid_largest_gift', 'type','abs_avg_gift','type'], axis = 1)

X = df.drop('target', axis = 1)
y = df['target']
calculate_vif(X,y)

             VIF                  col
0   1.706683e+08                const
1   1.341904e+00             num_prom
2   5.631823e+00            last_gift
3   1.167780e+00  months_since_donate
4   7.068657e+04             avg_gift
5   9.226376e+03     log_largest_gift
6   2.883689e+02    sqrt_largest_gift
7   1.129297e+03     inv_largest_gift
8   1.261365e+04  boxcox_largest_gift
9   1.330606e+07         log_avg_gift
10  2.122343e+06        sqrt_avg_gift
11  4.511051e+05         inv_avg_gift
12  9.634222e+06      boxcox_avg_gift
13  3.547953e+02     sigmoid_avg_gift

In [70]:
df

,num_prom,last_gift,months_since_donate,avg_gift,target,log_largest_gift,sqrt_largest_gift,inv_largest_gift,boxcox_largest_gift,log_avg_gift,sqrt_avg_gift,inv_avg_gift,boxcox_avg_gift,sigmoid_avg_gift
0,74,5.0,36,5.628571,1,2.397895,3.162278,0.090909,1.657686,1.891389,2.372461,0.150862,1.414143,0.996419
1,44,12.0,31,10.000000,0,2.833213,4.000000,0.058824,1.841721,2.397895,3.162278,0.090909,1.667257,0.999955
2,63,20.0,34,13.714286,1,3.433987,5.477226,0.032258,2.056016,2.688819,3.703280,0.067961,1.794926,0.999999
3,74,18.0,36,12.923077,0,2.944439,4.242641,0.052632,1.884660,2.633548,3.594868,0.071823,1.771587,0.999998
4,55,10.0,28,5.937500,1,2.397895,3.162278,0.090909,1.657686,1.936941,2.436699,0.144144,1.438644,0.997368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,20,15.0,34,9.500000,1,2.772589,3.872983,0.062500,1.817646,2.351375,3.082207,0.095238,1.645703,0.999925
2996,63,10.0,30,6.250000,1,2.397895,3.162278,0.090909,1.657686,1.981001,2.500000,0.137931,1.462001,0.998073
2997,62,15.0,31,10.333333,0,2.772589,3.872983,0.062500,1.817646,2.427748,3.214550,0.088235,1.680918,0.999967
2998,53,6.0,30,5.037037,0,2.302585,3.000000,0.100000,1.613748,1.797913,2.244334,0.165644,1.362718,0.993549
2999,15,15.0,37,15.000000,0,2.772589,3.872983,0.062500,1.817646,2.772589,3.872983,0.062500,1.829510,1.000000

In [71]:
from pycaret.classification import setup, compare_models

# Initialize and setup the experiment
exp = setup(data=df, target='target', session_id=27, fix_imbalance=False)

# Compare models to find the best one
best = compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

In [72]:
tuned_best = tune_model(best, optimize='Accuracy')

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [75]:
preds = predict_model(tuned_best, data=df.drop(columns='target'))['prediction_label']
print(preds)
final_preds = []
for i in preds:
    if i == 1:
        final_preds.append('Donor')
    else:
        final_preds.append('No Donor')
save_df = pd.DataFrame(final_preds, columns=['values'])
save_df
save_df.to_csv('preds_tiny_new.csv', index=False)

0       0
1       0
2       0
3       0
4       1
       ..
2995    0
2996    1
2997    0
2998    1
2999    0
Name: prediction_label, Length: 3000, dtype: int32

In [76]:
save_df

        values
0     No Donor
1     No Donor
2     No Donor
3     No Donor
4        Donor
...        ...
2995  No Donor
2996     Donor
2997  No Donor
2998     Donor
2999  No Donor

[3000 rows x 1 columns]

# VIF

In [21]:
dummies = pd.get_dummies(train, drop_first=True)

kept, removed = remove_high_vif_features(X=dummies.drop('target_No Donor', axis=1), y=dummies['target_No Donor'], vif_threshold=10)
print('REMOVED:', removed)


new_train = dummies.drop(columns=removed)
new_dev = pd.get_dummies(dev, drop_first=True).drop(columns=removed)
new_test = pd.get_dummies(test, drop_first=True).drop(columns=removed)

REMOVED: ['zipconvert5_Yes', 'avg_fam_inc', 'months_since_donate', 'med_fam_inc', 'avg_gift']

In [30]:
new_test['target No Donor']

KeyError: 'target No Donor'

In [22]:
new_train['target_No Donor'].value_counts()

1    1213
0    1187
Name: target_No Donor, dtype: int64

# ATTEMPT WITH PYCARET

In [23]:
from pycaret.classification import setup, compare_models

# Initialize and setup the experiment
exp = setup(data=new_train, target='target_No Donor', session_id=27, fix_imbalance=True)

# Compare models to find the best one
best = compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

# DEV ACCURACTY

In [24]:
preds = predict_model(best, data=new_dev.drop(columns='target_No Donor'))
preds = preds['prediction_label']
actual = new_dev['target_No Donor']
accuracy_score(preds, actual)

0.555

# FINE TUNING

In [25]:
tuned_best = tune_model(best, optimize='Accuracy')

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [26]:
preds = predict_model(tuned_best, data=new_dev.drop(columns='target_No Donor'))
preds = preds['prediction_label']
actual = new_dev['target_No Donor']
accuracy_score(preds, actual)

0.555

In [27]:
preds = predict_model(tuned_best, data=new_test.drop(columns='target_No Donor'))['prediction_label']

inverted = 1 - preds
final_preds = []
for i in inverted:
    if i == 1:
        final_preds.append('Donor')
    else:
        final_preds.append('No Donor')
save_df = pd.DataFrame(final_preds, columns=['values'])
df.to_csv('preds1.csv', index=False)

KeyError: "['target_No Donor'] not found in axis"